{% extends "base.html" %}

{% load rest_framework %}

{% block content %}

  <main id="main" class="main">

    <section class="section">

      <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Produk</h5>
              <!-- Vertical Form -->
              <form class="row g-3" method="post">
                {% csrf_token %}
                {% render_form serializer %}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

    </section>

  </main>

{% endblock %}